FLASK_ENV=production
SECRET_KEY=gizli-bir-anahtar-buraya-yaz
DATABASE_URL=sqlite:///roloband.db
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=info@roloband.com
MAIL_PASSWORD=
